.de-co{
    &::after{
        content: "";
        width: calc(100% - 150px);
        height: 2px;
        top:50%;
        margin-left: 20px;
        position: absolute;
        background: #BAB2AB;
    }
}
.de-co-long-top{
    &::after{
        content: "";
        width: 100%;
        height: 2px;
        top:10%;
        position: absolute;
        background: #8A8A8B;
    }
}
.de-co-long-bottom{
    &::after{
        content: "";
        width: calc(100% - 150px);
        height: 2px;
        bottom:10%;
        position: absolute;
        background: #8A8A8B;
    }
}
// .de-co-long-middle{
//     &::after{
//         content: "";
//         width: calc(100% - 150px);
//         height: 2px;
//         top:50%;
//         margin-left: 20px;
//         position: absolute;
//         background: #8A8A8B;
//     }
//     &::before{
//         content: "";
//         width: 100%;
//         height: 2px;
//         // top:50%;
//         margin-right: 20px;
//         position: absolute;
//         background: #8A8A8B;
//     }
// }