.attachment-background {
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-position-x: 50%;
    background-position-y: 50%;
    position: fixed;
    height: 100%;
    width: 100%;
}