.bg-position-{
    background-position:bottom 1000px;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-position-bc{
    background-position:bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #e6e6e2;
}
.bg-position-cc{
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #e6e6e2;
}
.bg-position-rc{
    background-position: right center;
    // background-size: cover;
    background-repeat: no-repeat;
    background-color: #e6e6e2;
    
}
.bg-position-br{
    background-position: bottom right;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-position-lb{
    background-position: left bottom;
    // background-size: cover;
}
.bg-position-lc{
    background-position: left center;
    background-size: cover;
}
.bg-attachment-fixed{
    background-attachment: fixed;
    background-size: cover;
}
.bg-cover{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-contain{
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
