.booking-list{
    background-color: #BAB2AB;
   color: white;
   padding: 32px;
   margin: 0px 20px;
   font-size: 20px;
   font-weight: bold;
   @include mobile(){
    padding: 16px;
    margin: 0px 16px;
    font-size: 16px;
   }
}
.booking-list.active{
    color: #BAB2AB;
    background-color: transparent;
    border:2px solid #BAB2AB;
    box-shadow: 0px 0px 5px 0px #BAB2AB;
}
