.deco-line-top-left{
    &::after{
        content: "";
        width: 15%;
        height:15%;
        border-top: 3px solid #BAB2AB;
        border-left: 3px solid #BAB2AB;
        border-top-left-radius: 5px;
        position: absolute;
        top:5%;
        left:5%;
    }
    @media (max-width:992px) {
        &::after{
            width: 10%;
            height:10%;
        }
    }
    @media (max-width:768px) {
        &::after{
            width: 10%;
            height:20%;
        }
    }
}
.deco-line-bottom-right{
    &::after{
        content: "";
        width: 15%;
        height:15%;
        border-bottom: 3px solid #BAB2AB;
        border-right: 3px solid #BAB2AB;
        border-bottom-right-radius: 5px;
        position: absolute;
        bottom:5%;
        right:5%;
    }
    @media (max-width:992px) {
        &::after{
            width: 10%;
            height:10%;
        }
    }
    @media (max-width:768px) {
        &::after{
            width: 10%;
            height:20%;
        }
    }
}
.process-deco-line-top-left{
    &::after{
        content: "";
        width: 10%;
        height:15%;
        border-top: 3px solid #BAB2AB;
        border-left: 3px solid #BAB2AB;
        border-top-left-radius: 10px;
        position: absolute;
        top:-5%;
        left:0%;
    }
}
.process-deco-line-bottom-right{
    &::after{
        content: "";
        width: 10%;
        height:15%;
        border-bottom: 3px solid #BAB2AB;
        border-right: 3px solid #BAB2AB;
        border-bottom-right-radius: 10px;
        position: absolute;
        bottom:-5%;
        right:0%;
    }
}
.works-deco-top-left-line{
    &::after{
        content: "";
        width: 8%;
        height:20%;
        border-top: 3px solid #BAB2AB;
        border-left: 3px solid #BAB2AB;
        border-top-left-radius: 5px;
        position: absolute;
        top:3%;
        left:1%;
    }
    @media (max-width:992px) {
        &::after{
            top:2%;
            left:2%;
            width: 10%;
            height:10%;
        }
    }
}
.works-deco-bottom-right-line{
    &::after{
        content: "";
        width: 8%;
        height:20%;
        border-bottom: 3px solid #BAB2AB;
        border-right: 3px solid #BAB2AB;
        border-bottom-right-radius: 5px;
        position: absolute;
        bottom:3%;
        right:1%;
    }
    @media (max-width:992px) {
        &::after{
            bottom:2%;
            right:2%;
            width: 10%;
            height:10%;
        }
    }
}