@import "./utilities";
@import "../helpers/variables";
.deco-link-transition{
    position:relative;
    padding :15px;
    color:#000;
    // background-color: $theme-colors-rgb;
    background-color:#BAB2AB;
    opacity:0.8;
    border-radius:40px 0px 0px 40px;
    transition:0.4s ease-in;
}
.deco-link-transition:hover{
        padding:15px 20px;
        color:#fff;
        border-radius:0px;
        transition:0.6s ease-in;
}
.deco-link-small-transition{
    position:relative;
    padding :15px;
    color:#000;
    background-color:#BAB2AB;
    opacity:0.8;
    border-radius:0px 40px 40px 0px;
    transition:all 0.4s ease-in;
}
.deco-link-small-transition:hover{
    padding:15px 25px;
        color:#fff;
        border-radius:0px;
        transition:0.6s ease-in;
}