.link-gray-bg{
    background-color: transparent;
    transition: 0.6s all;
    color:#6c757d;
    font-size: 20px;
}
.link-gray-bg:hover{
    background-color: #6c757d65;
    color:white;
    transition: 0.6s all;
    font-size: 22px;
}